spring.application.name=navigatorrag
# Database Connection
spring.datasource.url=jdbc:postgresql://localhost:5432/navigatorrag
spring.datasource.username=USERNAME
spring.datasource.password=PASSWORD

spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

# Creating the Audit table
spring.jpa.hibernate.ddl-auto=update
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

# Spring AI PGVector Configuration
spring.ai.vectorstore.pgvector.initialize-schema=true
spring.ai.vectorstore.pgvector.dimensions=3072
spring.ai.vectorstore.pgvector.index-type=none
spring.ai.vectorstore.pgvector.distance-type=COSINE_DISTANCE

# Currency API Configuration
currency.api.key=d943dadf2b244091976900c6419d6bd8
currency.api.base-url=https://api.currencyfreaks.com/v2.0/rates/latest

# Main Chat Model (GPT-5.2 Equivalent)
app.ai.main.model=gpt-5.2
app.ai.main.temperature=0.7

# Guardrail Model (GPT-5-mini Equivalent)
app.ai.guardrail.model=gpt-5-mini
app.ai.guardrail.temperature=1.0

spring.ai.openai.embedding.options.model=text-embedding-3-large
spring.ai.openai.api-key=YOUR_OPENAI_API_KEY_HERE